.navPad{
    padding-top: 10px;
}

.nav{
    margin-top: 20px;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 86px;
    background: #5E50A1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;

    .h2{
        margin-top: 50px;
    }
}